name: Run Tests
on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Compile test.c and lib.c
        run: gcc test.c lib.c -o testbinary
      - name: Run test binary
        run: ./testbinary
